input {
  twitter {
  	consumer_key => "XXX"
  	consumer_secret => "XXX"
  	oauth_token => "XXX"
  	oauth_token_secret => "XXX"
  	keywords => [ "Keyword1", "Keyword2", "Keyword3" ]
  	full_tweet => true
  	id => "id_plugin"
  }
}

filter{
}

output {
  elasticsearch {
  	hosts => "localhost:9200"
  	index     	=> "twitter_index"
  	document_type => "tweets"
  	template  	=> "./twitter_template.json"
  	template_name => "twitter_template"
  	template_overwrite => true
  }
}
